<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}
 
<body>
{% include "header.html" %}
<div class="wrapper">
<section>
<h3 style="clear:both">About</h3>
<br>
<p>The Twitter Summariser is a Flask web app which uses the Twitter REST API to access tweets. It provides information about tweets related by a hashtag, multiple hashtags, or a user mention. For best results, you should restrict the language of tweets accessed to English, and choose to ignore retweets. Please also note that searching for the 'most popular' results will return only 15 tweets maximum, whereas searching for 'recent' or 'mixed' tweets can return up to 100.
<p>


</section>
</div>

</body>
 
</html>