<!DOCTYPE html>
<html lang="en">
 
{% include "head.html" %}
 
<body>
<h3><span>Tweets with these hashtags</span></h3>

{{all_tokens}}

<table rules='all'>

<tr>
<th><span>Token</span></th>
<th><span>Frequency</span></th>
</tr>

{% for token, frequency in most_common_non_twitter %}
   <tr>
        <td> {{token}} </td> <td> {{frequency}} </td>
   </tr>
{% endfor %}
</table>

<table rules='all'>

<tr>
<th><span>Hashtag</span></th>
<th><span>Frequency</span></th>
</tr>

{% for h, frequency in all_hashtags %}
   <tr>
        <td> <a href="{{url_for('hashtag', hashtag1=h, hashtag2='', result_type_select='mixed', safe_filter_checkbox='True', lang_restrict_checkbox='True', exclude_retweets_checkbox='True', exclude_replies_checkbox='True', until_select='0')}}"> {{h}} </a> </td> <td> {{frequency}} </td>
   </tr>
{% endfor %}
</table>


<table rules='all'>

<tr>
<th><span>Username</span></th>
<th><span>Frequency</span></th>
</tr>

{% for username, frequency in all_users %}
   <tr>
        <td> {{username}} </td> <td> {{frequency}} </td>
   </tr>
{% endfor %}
</table>



<table rules='all'>
{% for tweet in tweets_list %}
   <tr>
        <td> {{ tweet }} </td>
   </tr>
{% endfor %}
</table>

<table rules='all'>

<tr>
<th><span>Word Phrase</span></th>
<th><span>Frequency</span></th>
</tr>
{% for tuple, frequency in common_bigrams %}
<tr><td>{{tuple[0]}} {{tuple[1]}}</td><td>{{frequency}}</td></tr>
{% endfor %}

{% for tuple, frequency in common_trigrams %}
<tr><td>{{tuple[0]}} {{tuple[1]}} {{tuple[2]}}</td><td>{{frequency}}</td></tr>
{% endfor %}

</table>


<table rules='all'>

<tr>
<th><span>Co-occurring Terms</span></th>
<th><span>Frequency</span></th>
</tr>

{% for tuple, frequency in co_terms_max %}
   <tr>
        <td> {{tuple[0]}} {{tuple[1]}} </td> <td> {{frequency}} </td>
   </tr>
{% endfor %}
</table>


<img src="{{url_for('static', filename='words.png')}}">

<div id="map"></div>
<script src="{{url_for('static', filename='map.js')}}"></script>


</body>
 
</html>